/*Resets*/
/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
/*Decoracion general*/
/*html {
    font-style: italic;
}*/

/*Decoracion del header*/
/*header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    height: 150px;
}

header img {
    height: 100%;
    width: 10%;
    padding: 25px;
}

header nav ul {
    font-size: larger;
    list-style: none;
    color: cyan;
    display: flex;
    column-gap: 25px;
    display: flex;
    border: 10px;
}*/

/*Decoracion de pagina principal*/
/*main{
    background-color:rgb(255, 247, 237);
}
main section h1 {
    font-size: 50px;
    text-align: center;
    background-color: #B7FFD8;
}*/

/*.tituloInicio {
    margin-bottom: 30px;
}*/

/*.tituloSecundario {
    font-size: 50px;
    text-align: center;
    background-color: #C4F5FC;
    text-decoration: none;
    margin-bottom: 30px;
}*/

/*main h2 {
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
}

main h3 {
    font-size: 25px;
    text-decoration: underline;
}*/

/*.servicios {
    text-align: left;
}*/

/*.cardPrincipal {
    width: 350px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 5px rgba(45, 223, 255, 0.69);
}*/

/*.cardPrincipal img {
    width: 100%;
    height: 250px;
}*/
/*.imagenPrincipal{
    object-fit: cover;
}*/

/*.gridImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 30px;
    padding-bottom: 30px;
}*/

/*.textoPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}*/

/*.textoSecundario {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.textoSecundario h3 {
    text-align: center;
}*/

/*.carousel-item img {
    width: 100%;
    height: 600px;
    padding-left: 10px;
    padding-right: 10px;
}*/

/*.gridProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 30px;
    padding-bottom: 30px;
}*/

/*.productos {
    margin-top: 30px;
}*/

/*.cardProductos {
    width: 350px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 5px #80ffb9(45, 223, 255, 0.69);
}

.cardProductos img {
    width: 100%;
    height: 250px;
}*/
/*.gridServicios div img{
    width: 350px;
    height: 300px;
}*/
/*.gridServicios div{
    margin: 50px;
}
.gridServicios{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, 500px);
    width: 100px;
    margin: 10px;
}*/
/*.contacto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}**/
/*.mapa{
    width: 450px;
    height: 400px;
    margin-right: 100px;
}
.formularioNombre{
    padding: 2px;
    width: 300px;
}
.formularioEmail{
    padding-left: 2px;
    width: 300px;
}
.formularioMensaje{
    padding-left: 2px;
    width: 500px;
}
.botonEnviar{
    padding: 2px;
    color: black;
    font-style: italic;
    margin-bottom: 20px;
}
form{
    margin-left: 100px;
}
.texto{
    width: 100%;
}*/

/*Decoracion de pie de pagina*/
/*.footer {
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    height: 150px;
    justify-content: space-between;
}*/
/*footer section div{
    height: 100%;
    width: 30%;
}*/
/*.imagenFooter {
    height: 100%;
    margin-left: 5px;
}*/

/**footer h2 {
    text-align: center;
    font-size: 30px;
}*/
/*.informacionContacto{
    display: flex;
    flex-direction: column;
    text-align: end;
    margin-right: 5px;
}
.informacionContacto p{
    font-size: medium;
    margin-bottom: 2px;
}*/

/*.redesContacto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}*/

/*Media Queries*/
/*@media screen and (max-width: 768px){
    /*header img{
        width: 150px;
    }*/
    /*.mapa{
        margin-left: 50px;
        margin-bottom: 50px;
        height: 300px;
    }*/
    /*.gridServicios{
        display: flex;
        flex-wrap: wrap;
    }
    .gridServicios div{
        margin: 10px;
    }
    .servicios{
        text-align: center;
    }*/
    /*.formularioNombre{
        width: 200px;
    }
    .formularioEmail{
        width: 200px;
    }
    .formularioMensaje{
        width: 200px;
    }*/
    /*Se utilizo el estilo kebab-case por ser de Bootstrap*/
    /*.carousel-item img{
        height: 300px;
    }
}*/
